body{
    background-color: hsl(4, 48%, 9%);
}

p,label{
    padding: 10px;
    margin: auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin: 10px 0px;
    color: #fff
}

#heading{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    font-weight: 700;
    color: #ff7f50; 
    margin-bottom: 20px;

}
input[type="radio"] {
    transform: scale(1.5);
    font-size: 1.5rem;
    border: none;
    text-align: center;
    background-color: #4c4c4c;
    color: #fff;
}

input{  
    font-size: 3rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 10px;
    margin: 1.2rem;
    color: #e0e0e0;
    padding: 2%;

}

#sub{
    text-align: center;
    border-radius: 10px;
}

button{
    padding: 1.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:hsl(0, 0%, 100%);
    background-color: hsl(299, 61%, 20%);
    cursor: pointer;
    border: none;
    border-radius: 1.22rem;
}
button:hover{
    background-color: rgb(0, 0, 0);
}
button:active{
    background-color: blanchedalmond;
}

#images{
    text-align: center;
}

img{
    margin: 10px;
    padding: 10px;
    border-radius: 75px;
}

#result{
    font-size: 3rem;
    color: #ffeb3b;
}
